<% unless category_amenities.blank? %>
  	<h5 class="card-title"><%= "#{category_heading}" %></h5>
		<div class="card-block">
			<div class="list-group">
				<div class="container">
					<% category_amenities.each do |amenity| %>
						<div class="col-xs-6">
							<li class="list-group-item"><%= amenity.name %></li>
						</div>
					<% end %>
				</div>
			</div>
		</div>
<% end %>
