<header style="background-image: url(<%= asset_path 'header_owner.png' %>)">
	<div class="header-content">
  	<div class="header-content-inner">
			<div class="col-xs-offset-6 col-xs-6">
    	<h1 style="color: #2196F3">What will your house rent for?</h1>
      <hr/>
				<p class="text-muted">Maybe a lot more than you think. Transform your home from into attractive rental property with Homestayz residential property managers. Start now with a FREE Home Rental Price Analysis.</p>
      <a href="#" class="hs-btn hs-btn-primary hs-btn-xl" data-toggle="modal" data-target=".bd-example-modal-sm">Free rental price analysis</a>
     	</div>
			</div>
 	</div>
</header>
<section id="services" class="owner-section">
	<div class="container">
	<div class="row">
  	<div class="col-xs-12 text-xs-center">
			<div class="col-xs-4 text-xs-center icon-widget">
				<i class="fa fa-5x fa-line-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
			</div>
			<div class="col-xs-8 text-xs-left text-widget">
				<h2 class="section-heading">Zero hassles. Zero brokerage.</h2>
				<p class="text-muted">From tenant sourcing to rent collection, to tenant move-out and everything in between, Homestayz takes care of it all.</p>
				<div class="col-xs-6">
				<ul class="list-group">
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Legal agreement</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Exit inspection</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Rent collection</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Security deposit</li>
				</ul>
				</div>
			</div>
   	</div>
 	</div>
	</div>
</section>
<section id="services" class="owner-section">
	<div class="container">
	<div class="row">
  	<div class="col-xs-12 text-xs-center">
			<div class="col-xs-4 text-xs-center icon-widget">
				<i class="fa fa-5x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
			</div>
			<div class="col-xs-8 text-xs-left text-widget">
				<h2 class="section-heading">Know who's staying beyond just the name.</h2>
				<p class="text-muted">We do a complete verification of your tenant's personal and professional profile, so that you don’t have to. HomeStayz assures you a 100% hassle free experience.</p>
				<div class="col-xs-6">
				<ul class="list-group">
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;ID proof</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Address proof</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Employment proof</li>
					<li class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp;Education proof</li>
				</ul>
				</div>
			</div>
   	</div>
 	</div>
	</div>
</section>
<section id="services" class="owner-section">
	<div class="container">
	<div class="row">
  	<div class="col-xs-12 text-xs-center">
			<div class="col-xs-4 text-xs-center icon-widget">
				<i class="fa fa-5x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
			</div>
			<div class="col-xs-8 text-xs-left text-widget">
				<h2 class="section-heading">Professional home maintenance.</h2>
				<p class="text-muted">With HomeStayz on your side, maintenance of your house is never a concern. Professional service and maintenance by qualified vendors at pre-negotiated rates comes by default. From electricals to painting, from plumbing to carpentry – HomeStayz takes care of it all.</p>
			</div>
   	</div>
 	</div>
	</div>
</section>