<div class="container-fluid" style="padding-top: 100px">

    
    
	<div class="card-deck-wrapper">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card house-card">
					<div class="card-header boys-header">
						BOYS
					</div>
				<img src="<%= asset_path("portfolio/bedroom.png") %>" class="card-img-top" alt="Card image cap" width="100%">
				<div class="card-block">
					<h4 class="card-title">Lodha Aurum</h4>
					<p class="card-text">3 BHK</p>
				</div>
				<ul class="list-group list-group-flush">
    			<li class="list-group-item">Kanjurmarg East</li>
    			<li class="list-group-item price-item">INR 7,000</li>
  			</ul>
					<div class="card-block">
						<a href="#" class="btn btn-primary">Schedule a Visit</a>
					</div>
				</div>
			</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card house-card">
				<div class="card-header girls-header">
						GIRLS
					</div>
			<img src="<%= asset_path("portfolio/bedroom.png") %>" class="card-img-top" alt="Card image cap" width="100%">
			<div class="card-block">
				<h4 class="card-title">Raj Splendour</h4>
				<p class="card-text">2 BHK</p>
			</div>
			<ul class="list-group list-group-flush">
    		<li class="list-group-item">Vikhroli West</li>
    		<li class="list-group-item price-item">INR 8,000</li>
  		</ul>
				<div class="card-block">
						<a href="#" class="btn btn-primary">Schedule a Visit</a>
					</div>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card house-card">
				<div class="card-header boys-header">
						BOYS
					</div>
			<img src="<%= asset_path("portfolio/bedroom.png") %>" class="card-img-top" alt="Card image cap" width="100%">
			<div class="card-block">
				<h4 class="card-title">Raj Legacy</h4>
				<p class="card-text">3 BHK</p>
			</div>
			<ul class="list-group list-group-flush">
    		<li class="list-group-item">Vikhroli West</li>
    		<li class="list-group-item price-item">INR 9,000</li>
  		</ul>
				<div class="card-block">
						<a href="#" class="btn btn-primary">Schedule a Visit</a>
					</div>
		</div>
		</div>
	</div>
</div>